.toggle {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    background-color: #007E8F;
    margin: 20px;
    border-radius: 15px;
}

.toggle svg {
    width: 60px;
    height: 45px;
}

.toggle div {
    float: left;
    display: flex;
    align-items: center;
    width: 60px;
    height: 55px;
    margin: 11px;
}

/* nonSmokingIcon css */
.nonSmokingIcon:hover {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
    cursor: pointer;
}

.nonSmokingIconOpen {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
    cursor: pointer;
}

.nonSmokingIcon:active, .nonSmokingIconOpen:active {
    transform: scale(0.9);
}

/* smokingIcon css */
.smokingIcon:hover {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
}

.smokingIconOpen {
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 15px;
}

.smokingIcon:active, .smokingIconOpen:active {
    transform: scale(0.9);
}

/* Responsive design for toggle button */
@media (max-width: 768px) {
    .toggle {
        width: 130px;
        height: 58px;
        margin: 10px;
        border-radius: 10px;
    }

    .toggle svg {
        width: 40px;
        height: 30px;
    }

    .toggle div {
        width: 42px;
        height: 40px;
        margin: 8px;
        margin-left: 12px;
    }
}

.state {
    width: 125px;
    height: 70px;
    position: absolute;
    background: white;
    border-radius: 15px;
    border: 2px #007E8F solid;
    z-index: 1;
    right: 200px;
    top: 0;
    margin-top: 22px;
}

.box1, .box2, .box3 {
    position: absolute;
    display: flex;
    align-items: center;
}

.box1 {
    width: 70px;
    height: 15px;
    left: 15px;
    top: 5px;
}

.box2 {
    width: 68px;
    height: 17px;
    left: 15px;
    top: 26px;
}

.box3 {
    width: 95px;
    height: 17px;
    left: 15px;
    top: 49px;
}

.circle {
    width: 15px;
    height: 15px;
    position: absolute;
}

.green {
    background: #7CFF89;
}

.orange {
    background: #FFBA5A;
}

.red {
    background: #E83600;
}

.labelText {
    margin-left: 20px;
    text-align: center;
    color: black;
    font-size: 13px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
} 

/* 모바일 화면에서 .state 요소 좌상단에 위치시키기 */
@media (max-width: 768px) {
    .state {
        right: auto; /* right 속성 무효화 */
        left: 10px;  /* 좌상단으로 이동 */
        top: 10px;   /* 좌상단으로 이동 */
        margin-top: 0; /* margin-top 초기화 */
    }
}
